<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>New Order</title>
</head>
<body>

<form th:method="POST" th:action="@{/orders}" th:object="${order}">
    <label for="ownerClient" class="m-2">Введите клиента: </label>
    <input type="text" th:field="*{ownerClient}" id="ownerClient"/>
    <div style="color:red" th:if="${#fields.hasErrors('ownerClient')}" th:errors="*{ownerClient}">Owner Client Error</div>
    <br/>
    <label for="quantity" class="m-2">Введите количество продукции: </label>
    <input type="text" th:field="*{quantity}" id="quantity"/>
    <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">QuantityAvailable Error</div>
    <br/>
    <input type="submit" value="Создать" class="btn btn-primary m-2"/>
</form>

</body>
</html>