<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Update inventory</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/inventories/{id}(id=${inventory.getId()})}" th:object="${inventory}">
    <label for="name" class="m-2">Введите название склада: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="address" class="m-2">Введите адрес склада: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
    <br/>
    <label for="quantityInStock" class="m-2">Введите количество продукции: </label>
    <input type="text" th:field="*{quantityInStock}" id="quantityInStock"/>
    <div style="color:red" th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}">QuantityAvailable Error</div>
    <br/>
    <input type="submit" value="Обновить" class="btn btn-primary m-2"/>
</form>

</body>
</html>