<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Show</title>
</head>
<body>
<p th:text="${inventory.getName() + ', ' + inventory.getAddress()}" class="m-2"></p>

<b class="m-2">Продукция:</b>
<br/>
<table th:each="product : ${products}">
    <tr>
        <td>
            <span class="m-2" th:text="${product.getName() + ', ' + product.getQuantityAvailable()}">

            </span>
        </td>
    </tr>
</table>

<p th:text="${'Id: ' +inventory.getId()}" class="m-2"></p>

<a th:href="@{/inventories/{id}/edit(id=${inventory.getId()})}" class="btn btn-primary m-2">Изменить</a>

<a href="/orders/new" class="btn btn-primary m-2">Сделать заказ</a>
<a href="/suppliers" class="btn btn-primary m-2">Поставщики</a>
<form th:method="DELETE" th:action="@{/inventories/{id}(id=${inventory.getId()})}">
    <input type="submit" value="Удалить" class="btn btn-primary m-2"/>
</form>

</body>
</html>