<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>New product</title>
</head>
<body>

<form th:method="POST" th:action="@{/products}" th:object="${product}">
    <label for="name" class="m-2">Введите название: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="description" class="m-2">Введите описание: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
    <br/>
    <label for="price" class="m-2">Введите цену: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
    <br/>
    <label for="quantityAvailable" class="m-2">Введите количество продукции: </label>
    <input type="text" th:field="*{quantityAvailable}" id="quantityAvailable"/>
    <div style="color:red" th:if="${#fields.hasErrors('quantityAvailable')}" th:errors="*{quantityAvailable}">QuantityAvailable Error</div>
    <br/>
    <label for="owner" class="m-2">Введите поставщика: </label>
    <input type="text" th:field="*{owner}" id="owner"/>
    <div style="color:red" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Owner Error</div>
    <br/>

    <input type="submit" value="Создать" class="btn btn-primary m-2"/>
</form>

</body>
</html>